* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Comforter", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
}
/* clases used to change out backgrounds based on 
weather conditions. only used on body */
.warm-clear {
  background-image: url("../images/Clear/clear-warm.jpg");
}

.cold-clear {
  background-image: url("../images/Clear/clear-cold.jpg");
}

.warm-clouds {
  background-image: url("../images/Clouds/cloudy-warm.jpg");
}

.cold-clouds {
  background-image: url("../images/Clouds/cloudy-cool.jpg");
}

.snowy {
  background-image: url("../images/snowy/snowy.jpg");
}

.rainy {
  background-image: url("../images/rainy/rainy.jpg");
}
/* GENERAL CLASS STYLINGS */

.glossy {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

/* HEADER STYLINGS */
header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 0.6) 0%,
    rgba(0, 212, 255, 0.6) 100%
  );
  z-index: 999;
}

#credit {
  flex: 0 0 100%;
  background-color: #222;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#credit a {
  flex: 1 1 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

header h1 {
  flex: 0 0 100%;
  margin: 0 auto;
  color: white;
  font-size: 36px;
  padding: 1% 0;
  text-align: center;
}

body {
  display: flex;
  flex-wrap: wrap;
}

/* ASIDE STYLINGS */
aside {
  flex: 0 0 20%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  left: 0;
  background-color: rgba(233, 233, 233, 0.8);
}

aside h2 {
  flex: 1 1 100%;
  padding-top: 5%;
  text-align: center;
  font-weight: 300;
}

#searchForm {
  flex: 1 1 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 25%;
}

#searchForm input {
  height: 15%;
  padding: 1%;
  font-size: 14px;
}

#citySearch {
  flex: 0 0 80%;
}
#searchButton {
  flex: 0 0 60%;
}

#recentSearches {
  height: 70%;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}

.recentSearchItem {
  flex: 1 1 100%;
  margin: 3% 10%;
  padding: 3% 10%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.recentSearchItem:hover {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
}

.recentSearchItem h3 {
  width: 100%;
  height: 100%;
  font-weight: 300;
}

/* MAIN WEATHER DISPLAY STYLINGS */
main {
  flex: 0 0 80%;
  display: flex;
  flex-wrap: wrap;
}

/* DAY SUMMARY */
.daySummary {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
}

#location-date {
  flex: 0 0 50%;
  margin: 2%;
  padding: 1%;
  font-size: 36px;
}

#summaryList {
  flex: 0 0 50%;
  margin: 2%;
  padding: 1%;
  font-size: 24px;
}

.daySummary ul li {
  padding: 2%;
}

.daySummary span {
  padding: 5px;
  color: white;
}
/* background updates for UV Index */
.uvLow {
  background-color: green;
}

.uvLowMed {
  background-color: yellow;
  color: black;
}

.uvMedHigh {
  background-color: orange;
  color: black;
}

.uvHigh {
  background-color: red;
}

.uvDanger {
  background-color: violet;
}

/* FIVE DAY FORECAST STYLINGS */
.fiveDayForecast {
  flex: 0 0 100%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40%;
}

.fiveDayForecastTitle {
  flex: 1 1 100%;
}

.fiveDayForecast h3 {
  margin: 1%;
  margin-left: 3%;
  padding: 1%;
  font-size: 24px;
  max-width: 15%;
  border-radius: 10px;
}

.forecastCard {
  flex: 0 0 15%;
  padding: 1% 1%;
  margin: 0 1%;
  min-height: 60%;
}

.forecastList {
  height: 100%;
}

.forecastList h4 {
  font-size: 20px;
  text-align: center;
}

.forecastList ul {
  text-decoration: none;
}

.forecastList li {
  padding: 5%;
  font-size: 18px;

  list-style: none;
}

#forecastEmoji {
  font-size: 48px;
  text-align: center;
}

/* MEDIA QUERIES FOR CHANGES ON SMALLER SCREENS */

/* Biggest changes here were fixing overflow issues
as a result of how I set up the main page, and moving
the aside to the top if screen size is smaller than 
768px wide*/

@media screen and (max-width: 1200px) {
  * {
    overflow: auto;
  }
  body {
    height: 100vh;
  }

  .fiveDayForecast {
    flex: 1 1 100%;
    overflow: visible;
  }
  .forecastCard {
    flex: 0 1 35%;
    margin: 2%;
    min-height: 30%;
    max-height: 30%;
  }
}

@media screen and (max-width: 768px) {
  aside {
    flex: 0 0 100%;
    height: 40vh;
    background-color: rgba(233, 233, 233, 0.8);
    overflow: hidden;
  }
  #searchForm {
    overflow: visible;
    height: 50%;
  }
  #searchButton {
    overflow: hidden;
  }
  #recentSearches {
    overflow: scroll;
  }
  main {
    flex: 1 1 100%;
    overflow: visible;
  }
  .daySummary {
    flex: 0 0 100%;
    overflow: visible;
  }
  .fiveDayForecast {
    flex: 0 0 100%;
    overflow: visible;
  }
  .fiveDayForecastTitle h3 {
    flex: 1 1 100%;
    font-size: 18px;
  }
}
